.margin-bottom-lg {
    margin-bottom: 50px;
}

.navbar {
    border-radius: 0;
}

ul.nav.navbar-nav {
    float: right;
    font-size: medium;
}


.caption {
    position: relative;
    top: -20px;
    text-align: center;

}