.margin-bottom-lg {
    margin-bottom: 50px;
}

.navbar {
    border-radius: 0;
}

ul.nav.navbar-nav {
    float: right;
    font-size: medium;
}


.caption {
    position: relative;
    /*top: -20px;*/
    text-align: center;

}

.breadcrumb {
    font-size: large;
}

.breadcrumb > li + li:before {
    color: #ccc;
    content: "\00BB";
    padding: 0 5px;
}

article {
    margin-bottom: 10px;
    background: #3e444c;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.6);
}