#linearBg {
    /* fallback */
    background-color: #272b30;
    background-repeat: repeat-x; /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#272b30), to(#383c41)); /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #272b30, #383c41); /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #272b30, #383c41); /* IE 10 */
    background: -ms-linear-gradient(top, #272b30, #383c41); /* Opera 11.10+ */
    background: -o-linear-gradient(top, #272b30, #383c41);
    background: linear-gradient(to top, #272b30, #383c41);
}


.margin-top-sm {
    margin-top: 20px;
}

.margin-top-lg {
    margin-top: 50px;
}

.margin-bottom-lg {
    margin-bottom: 50px;
}

.navbar {
    border-radius: 0;
}

ul.nav.navbar-nav {
    float: right;
    font-size: medium;
}


.caption {
    position: relative;
    /*top: -20px;*/
    text-align: center;

}

.breadcrumb {
    font-size: large;
}

.breadcrumb > li + li:before {
    color: #ccc;
    content: "\00BB";
    padding: 0 5px;
}

article {
    margin-bottom: 10px;
    background: #3e444c;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.6);
}

.content_other .media_left .media_object {
    max-width: 150px;
    overflow: hidden;
}