{
  "enable-websiteinventory": true,
  "siteName": "Nome Sito",
  "theme": "default",
  "metadata": [
	{"label":"Name", "propertyId":"name", "type":"TEXT"},
	{"label":"Title", "propertyId":"title", "type":"TEXT"},
	{"label":"Creator", "propertyId":"createdBy", "type":"TEXT"},
	{"label":"Creation date", "propertyId":"creationDate", "type":"DATE"}
  ]
}