<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <title th:text="${sitename}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link th:href="@{/resource/themes/default/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/resource/themes/default/css/custom.css}" rel="stylesheet" />
</head>
<body>

<!--MAIN NAVIGATION-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:text="${sitename}"></a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav" th:each="category : ${page.categories}">
                <li><a th:href="@{|/${siteid}/page/${category.getId()}|}" th:text="${category.name}"></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <header>
            <div>
                <h1><span th:text="${sitename}"/><br/><small th:text="${sitedescription}"></small></h1>
            </div>
        </header>
    </div>

    <div class="row">

        <!-- CONTENT -->
        <div class="col-lg-9 col-md-9 col-sm-8">

            <article th:each="content : ${page.contents}">
                <th:block th:switch="${content.type}" >

                    <div th:case="${T(it.alfrescoinaction.lab.awsi.domain.ContentType).TEXT}">
                        <h2 th:text="${content.name}"></h2>
                        <div th:utext="${content.properties['text']}"></div>
                    </div>

                    <figure th:case="${T(it.alfrescoinaction.lab.awsi.domain.ContentType).IMAGE}">
                        <a th:href="@{|/proxy/d/${content.id}|}" class="thumbnail">
                            <img th:src="@{|/proxy/r/imgpreview/${content.id}|}" th:alt="${content.getName()}" />
                        </a>
                        <figcaption class="caption">
                            <p>
                                <span th:text="${content.properties['title']?:content.properties['name']}"></span>
                                <span th:text="' ('+${content.properties['pixelXDimension']} +' x ' + ${content.properties['pixelYDimension']} + ' - ' + ${content.properties['content_size']} + 'MB)'"></span>
                            </p>
                        </figcaption>
                    </figure>

                    <div th:case="*" class="media margin-bottom-lg">
                        <div class="media-left">
                            <a th:href="@{|/proxy/d/${content.id}|}" target="_blank" class="thumbnail">
                                <img class="media-object" th:src="@{|'/proxy/r/doclib/' + ${content.id}|}" alt=""/>
                            </a>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">
                                <a th:href="@{|/proxy/d/${content.id}|}" target="_blank" th:text="${content.properties['title']?:content.properties['name']}"></a>
                            </h4>
                            <th:block th:each="docprop : ${page.siteProperties.metadata}">
                                <th:block th:switch="${docprop.type}">
                                    <div th:case="TEXT">
                                        <strong th:text="${docprop.label} + ': '"></strong>
                                        <span th:text="${content.properties[docprop.propertyId]?:'-'}"></span>
                                    </div>
                                    <div th:case="DATE">
                                        <strong th:text="${docprop.label} + ': '"></strong>
                                        <span th:text="${content.properties[docprop.propertyId]}"></span>
                                    </div>
                                </th:block>

                            </th:block>
                        </div>
                    </div>

                </th:block>

            </article>

        </div>

    </div>

</div>

<script th:src="@{/resource/themes/default/js/jquery.min.js}"></script>
<script th:src="@{/resource/themes/default/js/bootstrap.min.js}"></script>
<script th:src="@{/resource/themes/default/js/scripts.js}"></script>
</body>
</html>