{
  "siteId": "",
  "themeName": "default",
  "searchFields": [
	{"label":"Name", "propertyId":"cmis:name", "type":"TEXT"},
	{"label":"Content", "propertyId":"", "type":"FULLTEXT"}
  ],
  "metadata": [
	{"label":"Name", "propertyId":"name", "type":"TEXT"},
	{"label":"Title", "propertyId":"title", "type":"TEXT"},
	{"label":"Creator", "propertyId":"createdBy", "type":"TEXT"},
	{"label":"Creation date", "propertyId":"creationDate", "type":"DATE"}
  ]
}